body {
  box-sizing: border-box;
  overflow-x: hidden;
}

body,
h2,
h3 {
  font: 400 16px Tahoma;
  line-height: 1.5;
}

body,
ul,
figure,
h3 {
  margin: 0;
}

h2 {
  margin: 5px 0;
}

main,
figure,
img,
#videos a,
#videos li {
  display: block;
}

#videos {
  display: grid;
  gap: 2rem;
  padding: 0 1.5rem;
  width: calc(100vw - 3rem);
}

@media screen and (min-width: 1040px) {
  #videos {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}

@media screen and (max-width: 1039px) and (min-width: 450px) {
  #videos {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

#videos a {
  text-decoration: none;
  cursor: pointer;
}

body,
#videos .title,
#videoCount {
  color: rgba(0, 0, 0, 0.87);
}

#videos .info {
  color: #666;
}

img {
  width: 100%;
  height: auto;
}

header {
  max-width: 600px;
  padding: 3rem 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  font-size: clamp(2rem, 3rem, 8vw);
  margin: 0 auto 15px;
  line-height: 1.2
}

#description {
  font-size: 1.2rem;
}

figcaption,
#videoCount {
  margin-top: 0.8rem;
}

#videoCount {
  font-size: 1.1rem;
}

#pageButtons button {
  background-color: transparent;
  border: none;
  height: 48px;
  padding: 0;
  width: 48px;
}

#pageButtons button:not(:disabled):hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
}

#pageButtons button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}